body {
  margin: auto;
  max-width: 50em;
  font-family: "Courier New", monospace;
  background-color: #ffdfdf;
}

.item {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;  
  background-color: #fff0f0;
  border-radius: 8px;
  display: flex-wrap;
  text-decoration: none;
  color: black;
}

.item a {
  font-weight: bold;
  color: black;
  transition: color 0.2s;
}

.item a:hover {
  color: #ffc4c4;
}

.item img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item-title {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 1px;
}

h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.item-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #ffebeb;
  border-radius: 4px;
}

.success {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;
  background-color: #e8ffce;
}

.error {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;
  background-color: #ffc4c4;
}

.chat {
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em;
  background-color: #fff0f0;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.chat:hover {
  background-color: #ffc4c4;
}

.chat a {
  text-decoration: none;
  color: black;
  display: block;
}

.message {
  height: 500px;
  border: 1px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin: 1em;
  border-radius: 8px;
  padding: 0.2em 5em;  
  background-color: #fff0f0;
}

input[type="text"], 
input[type="password"], 
input[type="number"], 
textarea, 
select {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  box-sizing: border-box;
}

.submit, input[type="submit"] {
  text-decoration: none;
  background-color: #eafee3;
  font-family: "Courier New", monospace;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit:hover, input[type="submit"]:hover {
  background-color: #d4ffc5;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff0f0;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 0 auto 30px auto;
  border-radius: 8px;
  width: auto;
  justify-content: center; 
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  border: 1px solid #ccc;
  background-color: #feecec;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: #ffc4c4;
}

.user-info {
  margin-top: -10px;
  margin-bottom: 20px;
}