body {
  margin: auto;
  max-width: 50em;
  font-family: "Courier New", monospace;
  background-color: #ffdfdf;
}

.item {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;  
  background-color: #fff0f0;
  display: flex-wrap;
}

.success {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;
  background-color: #e8ffce;
}

.error {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 1em;
  background-color: #ffc4c4;
}

.chat {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em 5em;  
  background-color: #fff0f0;
}

.message {
  height: 300px;
  border: 1px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin: 1em;
  padding: 0.2em 5em;  
  background-color: #fff0f0;
}

input[type="text"], 
input[type="password"], 
input[type="number"], 
textarea, 
select {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Courier New", monospace;
  box-sizing: border-box;
}

.submit, input[type="submit"] {
  text-decoration: none;
  background-color: #eafee3;
  font-family: "Courier New", monospace;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover, input[type="submit"]:hover {
  background-color: #d4ffc5;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff0f0;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 0 auto 30px auto;
  width: auto;
  justify-content: center; 
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  border: 1px solid #ccc;
  background-color: #feecec;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ffc4c4;
}

.user-info {
  margin-top: -10px;
  margin-bottom: 20px;
}