{% extends "layout.html" %}

{% block title %}Keskustelu {{ item.title }}{% endblock %}

{% block content %}

  <h1>Ilmoitus: <a href="/item/{{ item.id }}">{{ item.title }}</a></h1>

  {% if session.user_id != item.user_id %}
    <p>Myyjä: {{ item.username }}</p>
  {% endif %}  

  <div class="message">
    {% for msg in chat_history %}
    <p>
      <strong>
        {% if session.user_id == msg.sender_id %}
        Sinä
        {% else %}
        {{ msg.sender_name }}
        {% endif %}
      </strong> 
      <small>({{ msg.sent_at }})</small>:<br>
      {{ msg.content }}
    </p>
    {% endfor %}
    {% if chat_history|length == page * 20 %}
    <p class="navbar">
      <a href="/messages/{{ item.id }}/{{ partner_id }}?page={{ page + 1 }}">Lataa vanhempia viestejä</a>
    </p>
    {% endif %}
  </div>

  <form action="/send_message/{{ item.id }}" method="post">
    <textarea name="content" required placeholder="Kirjoita viesti..."></textarea>
    {% if session.user_id == item.user_id %}
    <input type="hidden" name="receiver_id" value="{{ partner_id }}">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä viesti">
  </form>

  <p class="navbar">
    <a href="/messages">Takaisin viesteihin</a>
  </p>

{% endblock %}