{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
  <h1>Ilmoituksen muokkaus</h1>
  <form action="/update_item" method="post">
    <label for="title">
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlength="50" id="title" required/>
    </label>
    <label for="description">
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" id="description" required>{{ item.description }}</textarea>
    </label>
     <label for="price">
      Hinta (€): <br />
      <input type="number" name="price" size="8" value="{{ item.price }}" pattern="[1-9][0-9]{0,9}" id="price" required /> 
    </label>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    {% for class in all_classes %}
    <label for="classes">
      {{ class }}: <br />
      <select name="classes" id="classes">
      {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </label>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <label for="submit"><input type="submit" value="Päivitä ilmoitusta" /></label>
  </form>
  <p class="navbar">
    <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
  </p>
{% endblock %}