{% extends "layout.html" %}

{% block title %}Etsi ilmoitus{% endblock %}

{% block content %}
  <h1>Etsi ilmoitus</h1>
  <form action="/find_item" method="get">
    <p>
      Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
  {% if query and items %}
  <h2>Tulokset</h2>
  {% include "items_layout.html" %}
  {% elif query %}
    <p> 
      Ei löytynyt
    </p>
  {% endif %}

{% endblock %}