{% extends "layout.html" %}

{% block title %}Etsi ilmoitus{% endblock %}

{% block content %}

  <h1>Etsi ilmoitus</h1>
  <form action="/find_item" method="get">
    <p>
      Hakusana: <input type="text" name="query" value="{% if query %}{{ query }}{% endif %}">
    </p>
    {% for class in all_classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">-</option>
      {% for option in all_classes[class] %}
        {% set class_value = class ~ ":" ~ option %}
        <option value="{{ class_value }}" {% if classes and class_value in classes %}selected{% endif %}>
          {{ option }}
        </option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Hae">
  </form>
  {% if search_done and items %}
  <h2>Tulokset</h2>
  {% include "items_layout.html" %}
  {% elif search_done %}
    <p> 
      Ei löytynyt
    </p>
  {% endif %}

{% endblock %}