{% extends "layout.html" %}

{% block title %}Ilmoituksen kuvat{% endblock %}

{% block content %}
  <h1>Ilmoituksen kuvat</h1>

  <p>
    Ilmoituksessa on {{ images | count }} kuvaa.
  </p>

  <form action="/remove_images" method="post">
    {% for image in images %}
    <input type="checkbox" name="image_id" value="{{ image.id }}">
    <img src="/image/{{ image.id }}" />
    <br />
    {% endfor %}
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Poista valitut" />
    </p>
  </form>
{% if images | count < 10 %}  
  <h1>Lisää uusi kuva</h1>
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Kuva: <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
{% else %}
  <br>
    <div class="error">
      <p><strong>Olet saavuttanut maksimimäärän (10 kuvaa).</strong> Poista vanhoja kuvia, jos haluat lisätä uusia.</p>
    </div>
{% endif %}
  
  <p class="navbar">
    <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
  </p>
{% endblock %}