{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <h1>Kirjaudu sisään</h1>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  
{% endblock %}