<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
      Hinta: <br />
      <input type="text" name="price" size="8" pattern="[1-9][0-9]{0,9}" required /> €
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo ilmoitus" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>