{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
  <div class="item">
  <h1>{{ item.title }}</h1>
  {% for image in images %}
  <img src="/image/{{ image.id }}" />
  {% endfor %}
  <p class="item-description">
     {{ item.description }}
  </p>
  <p>
    <strong>Ilmoittaja:</strong> <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  </p>
  {% if classes %}
      {% for class in classes %}
      <p><strong>{{ class.title}}:</strong> {{ class.value }}</p>
      {% endfor %}
  {% endif %}
  <p>
    <strong>Hinta: {{ item.price }}€</strong>
  </p>
  </div>
  {% if session.user_id == item.user_id %}
  <p class="navbar">
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
    <a href="/images/{{ item.id }}">Kuvat</a>
  </p>
  {% endif %}

  {% if session.user_id and session.user_id != item.user_id %}

  <p class="navbar">
    <a href="/messages/{{ item.id }}">Lähetä viesti</a>
  </p>

  {% endif %}

{% endblock %}